/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#home {
  margin-top: 50px;
}

.prost-full-width {
  width: 100% !important;
}

.prost-nav {
  float: right !important;
}

hr {
  border-top: 0.5px solid lightgrey;
}

.prost-header {
  margin-bottom: 20px;
    margin-top: 20px;
}